<html>
    <head>
        <title>CS124H Group 5</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <h1>CS124H Group 5</h1>
        <p>Please input your prompt and select the task</p>
        <form>
            <textarea type="text" name="input" rows="10" cols="50" > </textarea>
            <br>
            <input type="submit" name='dluzano2' value="Study Topics"/>
            <input type="submit" name='neel4' value="10 Questions"/>
            <input type="submit" name='billjz2' value="Multiple Choice"/>
            <input type="submit" name='simone6' value="Q&A"/>
        </form>
    </body>
</html>
